html {
    height: initial;
    width: initial;
    overflow-x: hidden;
    body {
        height: initial;
        width: initial;
        overflow-x: hidden;
      &.modal-open {
        padding-right: 0px !important;
      }
      .vertical-spacer {
        margin-top: 75px;
      }
      .lower-z-index {
        z-index: 1;
      }
        .extra-top {
            padding-top: 80px !important;
            padding-bottom: 80px !important;
            @include mediaQuery($max, $mobile) {
                padding-top: 40px !important;
                padding-bottom: 40px !important;
            }
        }
      .hide-responsive {
        display: block;
        @include mediaQuery($max, $tablet) {
          display: none;
        }
      }
      .display-responsive {
        display: none;
        @include mediaQuery($max, $tablet) {
          display: block;
        }
      }
        .unclickable-link {
            cursor: default;
        }
        .main-copy {
            float: left;
            width: 100%;
            background: $light-grey;
            padding: 40px 0px;
            .panel-section {
                @include mediaQuery($min, $min-large-desktop) {
                    padding: 0px !important;
                }
            }
            @include mediaQuery($min, $min-large-desktop) {
                padding-left: 200px !important;
                padding-right: 200px !important;
            }
        }
        .container-padding {
            padding-left: 140px;
            padding-right: 140px;
            display: inline-block;
            width: 100%;
            @media (min-width: 768px) and (max-width: 991px) {
                padding-left: 85px;
                padding-right: 85px;
            }
            @include mediaQuery($max, $mobile) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .section-heading {
            border-left: 1px solid $dark-grey;
            padding-left: 15px;
            font-size: 60px;
            line-height: 60px;
            font-family: "DIN light", Arial, sans-serif;
            color: $dark-grey;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 45px;
            @include mediaQuery($max, $mobile) {
                margin: 30px 0 20px;
                font-size: 40px;
                line-height: 40px;
            }
        }
        a.btn.btn-default {
            @include buttons;
        }
        h3.speakers {
            text-transform: uppercase;
            color: $green;
            font-family: "DIN Bold", Arial, sans-serif;
            font-size: 20px;
            margin: 0px 0px 30px 13px;
        }
        .tabs-copy {
            float: left;
            width: 100%;
            display: inline-block;
            width: 100%;
        }
        .header-block {
            position: absolute;
            bottom: 200px;
            p {
                color: $green;
                text-transform: uppercase;
                span {
                    color: $white;
                    display: block;
                }
            }
            .block-right {
                border-left: 1px solid $white;
                h1 {
                    text-transform: uppercase;
                    color: $white;
                    margin: 0px;
                    span {
                        display: block;
                    }
                }
            }
        }
        .other-intro, .home-intro {
            h3 {
                color: $green;
                text-transform: uppercase;
                font-family: "DIN Bold", Arial, sans-serif;
                font-size: 25px;
                line-height: 30px;
                span {
                    display: block;
                    color: $white;
                    font-family: "DIN Regular", Arial, sans-serif;
                }
            }
            a.btn.btn-default {
                margin-top: 10px;
                width: 200px;
                height: 40px;
                padding: 8px 12px;
                color: $green;
                background: $white;
                border: none;
                &:hover {
                    color: $white;
                    background: $green;
                }
            }
        }
        .home-intro {
//            padding: 400px 0px 0px 85px;
            padding: 180px 0px 0px 85px;
            margin-left: 15px;
            @include mediaQuery($min, $min-large-desktop) {
                padding-top: 240px;
            }
            @media (min-width: 1367px) and (max-width: 1439px) {
                padding-top: 220px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                padding: 50px 0px 0px 50px;
            }
            @media (min-width: 992px) and (max-width: 1199px) {
//                padding: 220px 0px 0px 50px;
                padding: 190px 0px 0px 50px;
            }
            @include mediaQuery($max, $mobile) {
                padding: 200px 0px 0px 26px;
                margin-left: 0px;
                .intro-left {
                    border-right: none !important;
                }
                .intro-right {
                    border-left: 2px solid $white;
                }
            }
            .intro-left {
                border-right: 2px solid $white;
                /*display: inline-block;*/
                display: table;
                float: left;
                padding-right: 45px;
            }
            .intro-right {
                display: inline-block;
                float: left;
                padding-left: 45px;
                @include mediaQuery($max, $mobile) {
                    padding-left: 15px;
                }
            }
            h1 {
                color: $white;
                text-transform: uppercase;
                font-family: "DIN Light", Arial, sans-serif;
//                font-size: 60px;
//                line-height: 60px;
                font-size: 45px;
                line-height: 45px;
                margin-top: 0px;
                margin-bottom: 0px;
                @media (min-width: 992px) and (max-width: 1199px) {
                    font-size: 25px;
                    line-height: 25px;
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 25px;
                    line-height: 25px;
                }
                @include mediaQuery($max, $mobile) {
                    font-size: 45px;
                    line-height: 45px;
                }
                span {
                    display: block;
                }
            }
            h3 {
                margin: 0px;
                font-size: 30px;
                line-height: 40px;
                display: table-cell;
                vertical-align: middle;
                text-shadow: 4px 4px 30px rgba($black, 1);
                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 25px;
                    line-height: 25px;
                }
                @media (min-width: 992px) and (max-width: 1199px) {
                    font-size: 25px;
                    line-height: 25px;
                }
                @include mediaQuery($max, $mobile) {
                    font-size: 25px;
                    line-height: 30px;
                }
            }
            a.btn.btn-default {
                font-size: 25px;
                line-height: 25px;
                width: 295px;
                height: 61px;
                padding: 18px 12px;
                margin-top: 30px;
                @include mediaQuery($max, $mobile) {
                    margin: 20px 0px;
                    width: 245px;
                    height: 50px;
                    padding: 14px 12px;
                }
            }
        }
        .other-intro {
            padding: 250px 0px 0px 85px;
            margin-left: 15px;
            @include mediaQuery($min, $min-large-desktop) {
                padding-top: 300px;
            }
            @media (min-width: 1367px) and (max-width: 1439px) {
                padding-top: 300px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                padding: 50px 0px 0px 50px;
            }
            @media (min-width: 992px) and (max-width: 1199px) {
                padding: 190px 0px 0px 50px;
            }
            @include mediaQuery($max, $mobile) {
                padding: 200px 0px 0px 26px;
                margin-left: 0px;
                .intro-left {
                    float: none;
                }
                .intro-right {
                    float: none !important;
                    padding-left: 0px !important;
                    display: block !important;
                    padding-bottom: 30px;
                }
            }
            h3 {
                margin: 0px;
                span {
                    span {
                        display: inline-block;
                        @include mediaQuery($max, $mobile) {
                            display: block;
                        }
                    }
                }
            }
            a.btn.btn-default {
                font-size: 25px;
                line-height: 25px;
                width: 295px;
                height: 61px;
                padding: 18px 12px;
                margin-top: 0px;
                @include mediaQuery($max, $mobile) {
                    width: 245px;
                    height: 50px;
                    padding: 14px 12px;
                }
            }
            .intro-left {
                display: inline-block;
                float: left;
                @media (min-width: 768px) and (max-width: 991px) {
                    position: relative;
                    top: -40px;
                }
            }
            .intro-right {
                display: inline-block;
                float: left;
                padding-left: 30px;
                @media (min-width: 768px) and (max-width: 991px) {
                    position: relative;
                    top: -40px;
                }
            }
        }
      #feedback-modal, #error-modal-register, #error-modal, #film-photography-modal {
            z-index: 1099999;
            .modal-dialog {
              top: 20%;
                .modal-header {
                    border-bottom: none;
                    padding-bottom: 10px;
                    h4 {
                        text-transform: uppercase;
                        text-align: center;
                        font-family: "DIN Regular", Arial, sans-serif;
                        color: $burgundy;
                        font-size: 26px;
                    }
                }
                .modal-body {
                    text-align: center;
                    font-family: "DIN Regular", Arial, sans-serif;
                    font-size: 15px;
                    padding-top: 0px;
                    a {
                        color: $green;
                        &.btn {
                            @include buttons;
                            color: $white !important;
                            &:hover {
                                color: $green !important;
                            }
                        }
                    }
                }
            }
        }
      #film-photography-modal {
        .modal-body {
          text-align: left !important;
          padding: 10px 30px 30px 30px;
          padding-top: 10px !important;
        }
      }
    }
  #map.large {
    height: 500px;
  }
  .overlay {
    display: block;
    text-align: center;
    color: $white;
    font-size: 60px;
    line-height: 80px;
    opacity: 0.8;
    background: $contrast-mid-blue;
    border: 3px solid $mid-blue;
    border-radius: 4px;
    box-shadow: 2px 2px 10px $darker-grey;
    text-shadow: 1px 1px 1px $contrast-dark-grey;
    padding: 0px 4px;
  }
  .overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0px;
    height: 0px;
    position: absolute;
    &.above {
      bottom: -15px;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid $mid-blue;
    }
    &.below {
      top: -15px;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 16px solid $mid-blue;
    }
  }
  .row.text-center > div {
    display: inline-block;
    float: none;
    vertical-align: top;
    }
}
