.mobile-first {
    position: absolute;
    width: 100%;
    @include mediaQuery($max, $mobile) {
        position: initial;
        z-index: 9999;
    }
    .menu {
        &.active {
            .navbar-section {
                .navbar-header {
                    padding-left: 32px;
                    @media (min-width: 768px) and (max-width: 991px) {
                        padding-left: 10px;
                    }
                    .navbar-brand {
                        img {
                            @media (min-width: 992px) and (max-width: 1199px) {
                                max-width: inherit;
                            }
                            @include mediaQuery($min, $min-large-desktop) {
                                max-width: 179px;
                            }
                            @media (min-width: 768px) and (max-width: 1439px) {
                                max-width: 169px;
                            }
                        }
                    }
                }
            }
            .mainMenu.navbar.navbar-default {
                margin-left: 225px;
                @media (min-width: 768px) and (max-width: 991px) {
                    margin-left: 141px;
                    padding: 0px 10px 0px 0px;
                    top: 0px;
                }
                @media (min-width: 992px) and (max-width: 1199px) {
                    padding: 20px 32px 20px 0px !important;
                    margin-left: 200px;
                }
                @media (min-width: 1200px) {
                    padding: 32px 32px 32px 0px !important;
                }
                @include mediaQuery($max, $mobile) {
                    margin-left: 0px;
                }
                ul {
                    li {
                        &:nth-last-of-type(1) {
                            a {
                                @media (min-width: 1367px) and (max-width: 1439px) {
                                    padding: 0px 6px;
                                }
                                @media (min-width: 1200px) and (max-width: 1366px) {
                                    padding: 0px 6px;
                                }
                            }
                        }
                        a {
                            @media (min-width: 768px) and (max-width: 899px) {
                                font-size: 9px;
                            }
                            @media (min-width: 900px) and (max-width: 991px) {
                                font-size: 11px;
                            }
                            @media (min-width: 768px) and (max-width: 991px) {
                                padding: 15px 3px;
                            }
                            @media (min-width: 1367px) and (max-width: 1439px) {
                                padding: 0px 6px;
                            }
                            @media (min-width: 1200px) and (max-width: 1366px) {
                                padding: 0px 6px;
                                font-size: 14px;
                            }
                            @media (min-width: 992px) and (max-width: 1199px) {
                                font-size: 11px!important;
                            }
                        }
                    }
                }
            }
            @include mediaQuery($min, $min-tablet) {
                position: fixed !important;
                top: 0px;
                left: 0px;
                width: 100%;
                height: auto;
              z-index: 999;
                background-color: $white;
                .navbar-header {
                    .navbar-brand {
                        padding-top: 0px;
                    }
                }
                .mainMenu {
                    margin-bottom: 0px;
                    background: $white !important;
                    display: flex !important;
                    flex-direction: row-reverse !important;
                    white-space: nowrap;
                    justify-content: center;
                    float: none !important;
                    ul {
                        &.nav-sub {
                            &:before {
                                content: '';
                                height: 14px;
                                border-left: 2px solid $dark-grey;
                                margin: 3px 6px 0px 6px;
                                @include mediaQuery($min, $min-large-desktop) {
                                    margin: 8px 10px 0px 20px;
                                    height: 16px;
                                }
                                @media (min-width: 1367px) and (max-width: 1439px) {
                                    margin: 3px 6px 0px 6px;
                                }
                                @media (min-width: 992px) and (max-width: 1199px) {
                                    margin: 4px 6px 0px 6px;
                                    height: 11px;
                                }
                                @media (min-width: 768px) and (max-width: 991px) {
                                    height: 8px;
                                    margin: 20px 6px 0px 6px;
                                }
                            }
                        }
                        li {
                            padding: 0px 0px !important;
                            ul.dropdown-menu {
                                li {
                                    padding: 8px 0px !important;
                                }
                            }
                            a {
                                color: $dark-grey !important;
                                &:hover {
                                    color: $green !important;
                                }
                            }
                        }
                    }
                }
                .burgundy {
                    display: table !important;
                    background: $burgundy;
                    width: 100%;
                    height: 85px;
                    color: $white;
                    padding: 0 15px;
                    &.burgundy-hidden {
                        display: none;
                        @media (min-width: 1126px) and (max-width: 1199px) {
                            height: 93px;
                        }
                    }
                    @media (min-width: 992px) and (max-width: 1199px) {
                        height: 74px;
                    }
                    @media (min-width: 768px) and (max-width: 991px) {
                        height: 80px;
                    }
                    div.empty-space {
                        display: inline-block;
                        width: 186px;
                        text-transform: uppercase;
                        position: relative;
                        min-height: 1px;
                        padding: 30px 0;
                        float: none;
                        margin-right: 15px;
                        @media (min-width: 768px) and (max-width: 991px) {
                            width: 125px;
                        }
                        @media (min-width: 992px) and (max-width: 1199px) {
                            width: 186px;
                        }
                        @include mediaQuery($min, $min-large-desktop) {
                            width: 196px;
                        }
                    }
                    div.text-center {
                        text-transform: uppercase;
                        position: relative;
                        min-height: 1px;
                        padding: 30px 0px;
                        float: none;
                        width: 89%;
                        display: table-cell;
                        vertical-align: middle;
                        margin: 0px auto;
                        @media (min-width: 768px) and (max-width: 991px) {
                            font-size: 12px;
                            padding: 23px 0px;
                        }
                        @media (min-width: 1367px) and (max-width: 1439px) {
                            font-size: 13px;
                        }
                        @media (min-width: 992px) and (max-width: 1366px) {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
        .menu {
            .navbar-section {
                padding: 0px;
                float: left;
                display: block;
                position: relative;
                min-height: 1px;
                @include mediaQuery($max, $mobile) {
                    width: 100%;
                }
                .navbar-header {
                    padding-left: 85px;
                    @media (min-width: 768px) and (max-width: 1199px) {
                        padding-left: 50px;
                    }
                    @include mediaQuery($max, $mobile) {
                        padding-left: 15px;
                    }
                    a.navbar-brand {
                        padding: 0px;
                        img {
                            max-width: none;
                            @include mediaQuery($max, $mobile) {
                                max-width: 169px;
                            }
                            @media (min-width: 768px) and (max-width: 991px) {
                                max-width: 130px !important;
                            }
                            @media (min-width: 992px) and (max-width: 1199px) {
                                max-width: 169px;
                            }
                            @media (min-width: 1200px) and (max-width: 1366px) {
                                max-width: 200px;
                            }
                        }
                    }
                    .menuBtn {
                        height: 70px;
                        width: 70px;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        z-index: 101;
                        background: $green;
                        @include mediaQuery($min, $min-tablet) {
                            display: none !important;
                        }
                        @include mediaQuery($max, $mobile) {
                            position: fixed;
                        }
                        &.active:not(.act) {
                            width: 70px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $white;
                            background: $green;
                            .lines {
                                display: block;
                                position: initial;
                            }
                            .text {
                                display: block;
                            }
                        }
                        &.act {
                            right: 1px;
                            top: 1px;
                            background: none;
                            span {
                                position: relative;
                                &:before {
                                    content: "\f00d" !important;
                                    font-family: FontAwesome;
                                    position: absolute;
                                    font-size: 40px;
                                    color: $green;
                                    top: 5px;
                                    left: 18px;
                                }
                            }
                        }
                        span.lines {
                            position: relative;
                            &:before {
                                content: "\f0c9";
                                font-family: FontAwesome;
                                position: absolute;
                                font-size: 40px;
                                color: $white;
                                display: block;
                                height: 70px;
                                width: 70px;
                                left: 18px;
                                top: 7px;
                            }
                        }
                    }
                }
            }
            .mainMenu.navbar.navbar-default {
                background: rgba($green, 0.9);
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 100;
                height: 100%;
                text-align: center;
                opacity: 0;
                display: block;
                transform: scale(0);
                margin-left: 315px;
                float: right;
                @media (min-width: 768px) and (max-width: 991px) {
                    top: -30px;
                }
                @include mediaQuery($min, $min-large-desktop) {
                    padding-right: 135px;
                }
                @media (min-width: 1367px) and (max-width: 1439px) {
                    padding: 0px 135px 15px 50px;
                    ul {
                        li {
                            a {
                                font-size: 16px !important;
                                padding: 10px 7px;
                            }
                        }
                    }
                }
                @media (min-width: 1200px) and (max-width: 1366px) {
                    padding: 0px 85px 0px 0px;
                }
                @media (min-width: 992px) and (max-width: 1199px) {
                    padding: 0px 50px 15px 50px;
                    margin-left: 240px;
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    padding: 0px 50px 0px 0px;
                    margin-left: 240px;
                }
                @include mediaQuery($min, $min-tablet) {
                    opacity: 1;
                    transform: scale(1);
                    background: transparent;
                    border-radius: 0px;
                    border: none;
                    position: relative;
                    ul {
                        li {
                            opacity: 1;
                            transform: translateX(0);
                            &:nth-child(odd), &:nth-child(even) {
                                transform: translateX(0%);
                            }
                        }
                    }
                }
                @include mediaQuery($max, $mobile) {
                    width: 100%;
                    padding: 0px;
                    margin-left: 0px;
                    float: none;
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    max-height: initial;
                    overflow-x: hidden;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    min-height: 100vh;
                }
                &.act {
                    opacity: 1;
                    transform: scale(1);
                    overflow-y: hidden;
                    @include mediaQuery($min, $min-tablet) {
                        background: transparent;
                        position: relative;
                    }
                    ul {
                        li {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }
                .nav-sub {
                    @include mediaQuery($max, $mobile) {
                        order: 2;
                    }
                    li {
                        a {
                            @include mediaQuery($min, $small-desktop) {
                                padding-top: 0px;
                                padding-bottom: 0px;
                            }
                            @media (min-width: 768px) and (max-width: 991px) {
                                padding: 0px 3px !important;
                            }
                            @media (min-width: 992px) and (max-width: 1199px) {
                                padding: 0px 8px !important;
                            }
                            @media (min-width: 768px) and (max-width: 1199px) {
                                font-size: 15px;
                            }
                        }
                    }
                }
                ul {
                    display: table-cell;
                    vertical-align: middle;
                    li {
                        padding: 3px 0px;
                        &.dropdown {
                            &.open {
                                > a {
                                background: $white;
                                color: $green;
                            }
                            ul.dropdown-menu {
                                border: 1px solid $black;
                                border-radius: 0px;
                                width: 235px;
                                box-shadow: none;
                                background: $black;
                                @include mediaQuery($max, $mobile) {
                                    width: 100%;
                                    border: none;
                                }
                                li {
                                    @media (min-width: 768px) and (max-width: 991px) {
                                        padding: 0px !important;
                                    }
                                    a {
                                        color: $white;
                                        &:hover {
                                            color: $green;
                                            background: $black;
                                            @include mediaQuery($max, $mobile) {
                                                background: $white;
                                            }
                                        }
                                        @media (min-width: 768px) and (max-width: 991px) {
                                            padding: 5px 5px !important;
                                            font-size: 15px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a {
                        color: $white;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-family: "DIN Bold", Arial, sans-serif;
                        text-shadow: 4px 4px 30px rgba($black, 1);
                        @include mediaQuery($max, $small-mobile) {
                            padding: 5px 0px;
                        }
                        @include mediaQuery($max, $mobile) {
                            text-shadow: none;
                        }
                        &.current {
                            color: $green !important;
                            @include mediaQuery($max, $mobile) {
                                color: $white !important;
                            }
                        }
                        &:hover, &:focus {
                            background: transparent;
                            color: $green;
                            @include mediaQuery($max, $mobile) {
                                color: $white;
                            }
                        }
                        @media (min-width: 1400px) and (max-width: 1550px) {
                            font-size: 16px;
                        }
                        @media (min-width: 1200px) and (max-width: 1366px) {
                            font-size: 15px;
                            padding: 10px 5px;
                        }
                        @media (min-width: 768px) and (max-width: 991px) {
                            padding: 15px 5px 0px 5px;
                            font-size: 15px;
                        }
                        @media (min-width: 992px) and (max-width: 1199px) {
                            font-size: 15px !important;
                            padding: 15px 8px 0px 8px;
                        }
                    }
                }
            }
            li {
                &:nth-child(odd) {
                    transform: translateX(30%);
                }
                &:nth-child(even) {
                    transform: translateX(-30%);
                }
                &:last-child {
                    transform: none !important;
                    a {
                        padding-right: 0px;
                    }
                }
            }
            hr {
                width: 85%;
                background: $white;
            }
            .nav-sub {
                @include mediaQuery($min, $min-tablet) {
                    li {
                        display: flex;
                        align-items: center;
                        &:nth-last-of-type(1) {
                            a {
                                border: none;
                                padding-right: 0px !important;
                            }
                        }
                        a {
                            border-right: 1px solid $white;
                        }
                    }
                }
            }
        }
        .burgundy.burgundy-hidden {
            display: none;
        }
    }
}

@media (min-width: 768px) {
  .mainMenu > ul {
    width: 100% !important;
    display: flex !important;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
  .menu.active .mainMenu ul li.dropdown.open a {
    color: $white !important;
    &:hover {
      color: $green !important;
    }
  }
  .menu.active .mainMenu > ul {
    width: auto !important;
  }
  .mainMenu > ul > li {
    opacity: 1;
    transform: translateX(0);
  }
  .mainMenu > ul > li:nth-child(odd) {
    transform: translateX(0%);
  }
  .mainMenu > ul > li:nth-child(even) {
    transform: translateX(0%);
  }
  .mainMenu.navbar.navbar-default > ul > li a {
    color: $white;
    text-transform: uppercase;
  }
  .menu.active .mainMenu.navbar.navbar-default > ul > li a {
    text-transform: uppercase;
    padding: 5px 20px;
  }
  .navbar-right {
    margin: 0 !important;
  }
  .dropdown ul {
    display: none !important;
  }
  .dropdown.open > ul {
    display: block !important;
  }
  .dropdown.open > a {
    background-color: $white !important;
    color: rgba(129, 176, 8, .9) !important;
  }
  .dropdown-menu {
    border: none;
    margin-top: -3px !important;
    left: 0 !important;
  }
  .dropdown-submenu .dropdown-menu {
    left: 100% !important;
    right: initial;
    top: 0;
  }
  .dropdown-submenu.open > ul {
    display: block !important;
  }
  .menu.active .mainMenu.navbar.navbar-default > ul > li a {
    padding: 5px 12px;
    text-shadow: none;
  }
  .menu.active .nav-sub li:last-child a, .menu.active .nav-sub li:nth-last-of-type(2) a {
    border-left: none;
  }
  .navbar-right li.dropdown:last-child .dropdown-menu {
    left: auto !important;
  }
  .mobile-first .menu.active .mainMenu.navbar.navbar-default ul.nav-sub li:first-child a {
    border-left: 1px solid $dark-grey;
  }
}
@media (max-width: 767px) {
  .dropdown.open > a, .dropdown.open > a:hover, .dropdown.open > a:focus {
    background: $white !important;
    color: rgba(129, 176, 8, .9) !important;
  }
  .dropdown.open .dropdown-menu {
    background: $white !important;
    a {
      color: $dark-grey !important;
    }
  }
  .dropdown ul {
    display: none !important;
    text-align: center;
  }
  .dropdown.open > ul {
    display: block !important;
  }
  .mainMenu > ul {
    width: 100%;
  }
  .mainMenu ul {
    margin: 0px;
  }
  .dropdown-submenu.open > ul {
    display: block !important;
  }
}

@media (max-width: 1365px) {
  .mainMenu > ul {
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .mainMenu.navbar.navbar-default ul li a {
    font-size: 13px !important;
    padding: 15px 10px;
  }
  .mobile-first .menu.active .mainMenu.navbar.navbar-default ul li a {
    font-size: 11px !important;
    padding: 0px 6px !important;
  }
  .menu.active .mainMenu > ul {
    padding: 8px 0px;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .mobile-first .menu.active .mainMenu.navbar.navbar-default ul li a {
    font-size: 11px !important;
    padding: 0px 6px !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .mobile-first .menu.active .mainMenu.navbar.navbar-default ul li a {
    padding: 0px 6px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mobile-first .mainMenu.navbar.navbar-default ul li a {
    font-size: 11px;
    padding: 15px 5px;
  }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background: $black !important;
  @media (max-width: 767px) {
    background: $white !important;
  }
}

@media (min-width: 992px) and (max-width: 1125px) {
  .mobile-first .menu.active .mainMenu.navbar.navbar-default {
    padding: 21.5px 32px 21.5px 0 !important;
  }
}

.mobile-first .menu .mainMenu.navbar.navbar-default li ul.dropdown-menu li a span.lowercase {
    text-transform: lowercase;
}
